*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

  body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color:rgba(191,	192,	192, 0.4);
  }

  p, h1, li, a {
  color: #BFC0C0;
}
.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  max-width: 1600px;
}

.navbar {
  height: 100px;
  position: fixed;
  background: linear-gradient(#5C415D, transparent 100%), linear-gradient(0deg, #5C415D, transparent 100%);
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.navbar ul {
  list-style: none;
  justify-content: space-between;
  width: 75%;
  /*border: 2px solid white;*/
  text-align: center;
  /*display: flex;*/
}

.navbar li {
  padding: 3px;
  margin-left: -8px;
}
.navbar a{
  padding: 3px;
}


.cover {
  background-image: url("../img/cover3.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  /*border: 2px solid green;*/
}

#logo {
  padding: 20px;
}

.headerInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.headerInfo h2 {
  padding-top: 100px;
  text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #5C415D;
  }
}

.flex-form {
  min-width: 390px;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  flex: 1;
  z-index: 10;
  border: 20px solid rgba(34,	34,	59, 0.3);
  border-radius: 5px;
  border-right: 100% solid rgba(34,	34,	59, 0.3);
  border-left: 100% solid rgba(34,	34,	59, 0.3);
  align-items: stretch;
  font-family: 'Raleway', sans-serif;
}

.flex-form-wrap {
  text-align:center;
}

.flex-form input[type="submit"] {
  background:#6F9283;
  border: none;
  color:#22223b;
  flex-basis:8px;
  margin-top: 20px;
  align-self: center;
  border-radius: 5px;
}
.flex-form input[type="search"] {
flex-basis: 500px;
font-size: 12px;
margin: 0 auto;
}

.flex-form > * {
  color:#22223b;
  font-weight: bolder;
  font-family: serif;
  padding:10px;
  background-color:rgba(191,	192,	192, 0.5);
  line-height:20px;
  font-size: 14px;
  border:2px solid #5C415D;
  -webkit-appearance:none;
  flex: 1;
  /*font-family: 'Raleway', sans-serif;*/
}
.flex-form label {
  font-size: 14px;
  border-radius: 3px;
  flex-grow: 2;
}
.flex-form > *:last-child {
  border-right: 0;
}


.headerInfo img {
align-items: center;
 margin: 0 auto;
 }


/*icon centering*/
.allIcons {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.info p {
  color: #22223B;
}


.icon {
  width: 100%;
  /*border: 5px solid orange;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 10px;
  flex: 1;
}
.img1 img, .img2 img, .img3 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #6F9283;

}

footer {
  display: flex;
  flex-wrap: wrap;
  /*border: 5px solid orange;*/
  background: linear-gradient(#5C415D, transparent 100%), linear-gradient(0deg, #5C415D, transparent 100%);
  border-bottom: 2px solid black;
  width: 100%;
}


@media screen and (min-width: 640px) {

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.navbar {
  height: 125px;
}

.navbar ul {
  display: flex;
}

.headerInfo h2 {
  font-size: 35px;
}

.flex-form {
  display: flex;
  z-index: 10;
  border: 20px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  border-right: 100% solid rgba(0, 0, 0, 0.3);
  border-left: 100% solid rgba(0, 0, 0, 0.3);
  margin-bottom: 90px;
  width: 100%;
  margin: 0 auto;
   }

  .flex-form-wrap {
     text-align: none;
     width: 80%;
     margin: 0 auto;
   }

.flex-form input[type="submit"] {
  flex: 2;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  color: black;

}
.flex-form label {
font-size: 15px;
}

 .flex-form > * {
  border: 0;
  padding: 10px;
  -webkit-appearance: none;
  color: black;
  font-family: 'Raleway', sans-serif;
}
 .flex-form > *:last-child {
  border-right: 0;
  color: grey;
  font-family: 'Raleway', sans-serif;
 }

 .icon {
   padding: none;
 }

}


@media screen and (min-width: 950px){

.headerInfo h2 {
  font-size: 35px;
}

  .allIcons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .icon {
    width: 100%;
    /*border: 5px solid orange;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex: 1;
  }

  .icon img {
   /*padding-top: 20px;*/
  }

.cover {
  height: 60vh;
  width: 100%;
  background-image: url("../img/cover3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.headerInfo {
  margin-top: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


footer {
  background: linear-gradient(#5C415D, transparent 100%), linear-gradient(0deg, #5C415D, transparent 100%);
  border-bottom: 2px solid black;
  width: 100%;
}
